body
{
background-color: #92B06A;

}

nav
{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #DE593A;
  border-bottom: solid 3px white;
}

  nav a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'courgette' cursive;
  text-align: inline;
  }

  nav li {
  display: inline;

figure
{

  height: 400px;
  width: 1289px;
  margin-left: 250px;

  margin-top: 40px;
  box-shadow: 20px 10px 5px black;
}

figure img

{

 width: 1293px;
 height: 404px;

box-shadow: 20px 10px 5px black;
 border: outset 3px #43484D;
}

section

{
  background-color: #878B8B;

  box-shadow: 20px 10px 5px black;
  width: 100%;
  margin-left: 250px;
  border: outset 3px #43484D;
  margin-top: 100px;
}

section p
{
  text-align: center;
  padding: 10px 10px 0px 10px;
}

section article h3
{
  padding-top: 10px;
  text-align: center;
  font-family: 'courgette', cursive;
}
