body
{
background-color: #9DAAB2;

}

nav
{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #1E4099;
  border-bottom: solid 3px white;
}

  nav a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: 'courgette', cursive;
  text-align: inline;
  }

  nav li {
  display: inline;
}

  figure{
    margin-left: 33.33%;
    width: 33.33%;
    margin-top: 80px;

  }

figure img{
  width:100%;
  box-shadow: 16px 16px 0.55px #555F5C;

}

article{
  background-color: #B6AA37;
  margin: 84px;
  border: 7px blue groove;

}

p{
  text-align: center;
  display: inline-block;
  margin: 0px 20px 20px 20px;
  font-family: 'courgette', cursive;
}

 h3{
  text-align: center;
  font-family: 'courgette', cursive;
  color:#15243D;
  font-weight: bolder;
  margin-top: 10px;
}
/*figure
{

  height: 400px;
  width: 1289px;
  margin-left: 33.33%;

  margin-top: 40px;
  box-shadow: 20px 10px 5px black;
}

figure img

{

 width: 1293px;
 height: 404px;

box-shadow: 20px 10px 5px black;
 border: outset 3px #43484D;
 margin-left: 33.33%;
}

section

{
  background-color: #878B8B;

  box-shadow: 20px 10px 5px black;
  width: 100%;
  margin-left: 250px;
  border: outset 3px #43484D;
  margin-top: 100px;
}

section p
{
  text-align: center;
  padding: 10px 10px 0px 10px;
}

section article h3
{
  padding-top: 10px;
  text-align: center;
  font-family: 'courgette', cursive;/*
}
