body
{
  background-image: url(img/fiche.jpg);
  background-size: cover;
}

section
{
  background-color:#F4DA00;
  width: 250px;
  height: 250px;
  float: right;
}

#p2
{
  margin-top: 180px;
  margin-right: 50px;
  float: right;
  transform: rotate(19deg);
  box-shadow: -7px 0 10px black;
}

#p1
{
float: left;
transform: rotate(-17deg);
margin-top: 80px;
margin-left: 50px;
box-shadow: -7px 0 10px black;

}

nav
{
  background-image: url(img/pp.png);
  background-size: cover;
  font-family: Homemade Apple, cursive;
  font-size: 30px;
  padding-left: 20px;
  display: flex;
  padding-left: 69px;
  padding-bottom: -800px;
  width: 250px;
  height: 319px;
}

nav a {
display: inline-block;
padding: 10px;
text-decoration: none;
color: black;
font-size: 12px;
font-family: Homemade Apple, cursive;
padding-top: 32px;
}
nav li
{
height: 50px;
}
*
{
  font-family: Homemade Apple, cursive;
  font-size: 12px;
}

#p2 p{
  margin: 10px 10px 10px 10px;
  font-size: 14px
}

#p1 p{
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}
